In [16]:
import pandas as pd

In [14]:
NYC_SnowAvgsData={'Months' :
['January','February','March',
'April', 'November', 'December'],
'Avg SnowDays' : [4.0,2.7,1.7,0.2,0.2,2.3],
'Avg Precip. (cm)' : [17.8,22.4,9.1,1.5,0.8,12.2],
'Avg Low Temp. (F)' : [27,29,35,45,42,32] }

In [15]:
NYC_SnowAvgsData

{'Months': ['January', 'February', 'March', 'April', 'November', 'December'],
 'Avg SnowDays': [4.0, 2.7, 1.7, 0.2, 0.2, 2.3],
 'Avg Precip. (cm)': [17.8, 22.4, 9.1, 1.5, 0.8, 12.2],
 'Avg Low Temp. (F)': [27, 29, 35, 45, 42, 32]}

In [24]:
NYC_SnowAvgs=pd.DataFrame(NYC_SnowAvgsData, index = NYC_SnowAvgsData['Months'], 
                          columns = ['Avg SnowDays', 'Avg Precip. (cm)', 'Avg Low Temp. (F)'])

In [25]:
NYC_SnowAvgs

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35
April              0.2               1.5                 45
November           0.2               0.8                 42
December           2.3              12.2                 32

In [26]:
NYC_SnowAvgs.loc['January']

Avg SnowDays          4.0
Avg Precip. (cm)     17.8
Avg Low Temp. (F)    27.0
Name: January, dtype: float64

In [27]:
NYC_SnowAvgs.loc[['January', 'April']]

         Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January           4.0              17.8                 27
April             0.2               1.5                 45

In [29]:
NYC_SnowAvgs.loc['January':'April']

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35
April              0.2               1.5                 45

In [35]:
NYC_SnowAvgs.loc['April','Avg Precip. (cm)']

1.5

In [47]:
NYC_SnowAvgs.loc[NYC_SnowAvgs['Avg SnowDays']>2, :]

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
December           2.3              12.2                 32

In [59]:
NYC_SnowAvgs.loc[::-2,NYC_SnowAvgs.loc['January']>20]

          Avg Low Temp. (F)
December                 32
April                    45
February                 29

In [ ]:
NYC_SnowAvgs.